<div class="pro">
  <h2><b>Products</b></h2>
  <h4>1.Realme</h4>
  <b
    ><h5>Realme 9 Pro+ 5G<br /></h5
  ></b>
  <img
    src="https://m.media-amazon.com/images/I/31f46Ze6ylL.jpg"
    width="55px"
    height="125px"
  />
  <b align="center"
    ><u><h5>Details</h5></u></b
  >
  <table>
    <tr>
      <td><h5>Model name</h5></td>
      <td><h5>Realme 9 pro+ 5G(8GB RAM,128GB,Midnight Black)</h5></td>
    </tr>
    <tr>
      <td><h5>Processor</h5></td>
      <td><h5>MediaTek Dimensity 920,Octa Core,2.5GHz</h5></td>
    </tr>
    <tr>
      <td><h5>Camera</h5></td>
      <td><h5>50 MP+2 MP+8 MP Triple Rear & 16 MP Front Camera</h5></td>
    </tr>
    <tr>
      <td><h5>Battery</h5></td>
      <td><h5>4500 mAh with 60W Fast Charging</h5></td>
    </tr>

    <tr></tr>
  </table>

  <button type="buy">Buy</button>
  <h4>2.Redmi</h4>
  <b
    ><h5>Redmi K50i 5G<br /></h5
  ></b>
  <img
    src="https://m.media-amazon.com/images/I/71ZACtD0-oL._SL1500_.jpg"
    width="150px"
    height="150px"
  />
  <b align="center"
    ><u><h5>Details</h5></u></b
  >
  <table>
    <tr>
      <td><h5>Model name</h5></td>
      <td><h5>Redmi K50i 5G(8GB RAM,256GB,Stealth Black)</h5></td>
    </tr>
    <tr>
      <td><h5>Processor</h5></td>
      <td><h5>MediaTek Dimensity 8100,4x Cortex,2.85GHz</h5></td>
    </tr>
    <tr>
      <td><h5>Camera</h5></td>
      <td>
        <h5>
          64 MP Rear ,8MP ultra wide,2 MP macro camera & 16MP Front camera
        </h5>
      </td>
    </tr>
    <tr>
      <td><h5>Battery</h5></td>
      <td><h5>5080 mAh with 67W Turbo Charging</h5></td>
    </tr>

    <tr></tr>
  </table>

  <button type="buy">Buy</button>
  <h4>3.Iphone</h4>
  <b
    ><h5>Iphone 13 Pro Max<br /></h5
  ></b>
  <img
    src="https://m.media-amazon.com/images/I/611ovP2GkrL._SL1500_.jpg"
    width="150px"
    height="150px"
  />
  <b align="center"
    ><u><h5>Details</h5></u></b
  >
  <table>
    <tr>
      <td><h5>Model name</h5></td>
      <td><h5>Apple Iphone 13 Pro Max(512GB,Alpine Green)</h5></td>
    </tr>
    <tr>
      <td><h5>Processor</h5></td>
      <td><h5>IOS 14</h5></td>
    </tr>
    <tr>
      <td><h5>Camera</h5></td>
      <td>
        <h5>
          12 MP Telephoto,wide and ultra wide Cameras 6x optical zoom range & 12
          MP TrueDepth front camera
        </h5>
      </td>
    </tr>
    <tr>
      <td><h5>Battery</h5></td>
      <td><h5>4352 mAh</h5></td>
    </tr>

    <tr></tr>
  </table>
  <button type="buy">Buy</button>
  <!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
--></div>
